@charset "UTF-8";
h1 {
    color: red;
  }
  p, li {
    color: green;
}
ul {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}　
li {
    list-style-type: "\1F44D";
  }

  .box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
          
